**/node_modules/
**/.next/
out/

.env
**/.env.local
.env.production
.env.production.local
**/.env.*.local

*.tsbuildinfo
.vercel

certbot/
n8n_data/

*.log
npm-debug.log*

.DS_Store
Thumbs.db
desktop.ini

public/sw.js
public/workbox-*.js
public/sw.js.map
public/workbox-*.js.map
pwa/pwa.rar
.claude/worktrees/
